
<pre>
{{tresc}}
</pre>



<br><br><br>
--<br>
Wiadomość wysłana automatycznie. Prosimy na nią nie odpowiadać.<br/>
Wiadomość tą otrzymujesz, ponieważ jesteś zarejstrony na stronie <a href="http://gwiazdkacieszynska.pl/">www.gwiazdkacieszynska.pl</a> .<br><br>

Jeśli nie chesz otrzymywać więcej wiadomości z newslettera, kliknij <a href="http://gwiazdkacieszynska.pl/newsletter-revoke/{{id}}/{{kod}}.html"><b>tutaj</b></a> aby się wypisać z newslettera.<br/> 
